@import 'title-accueil.scss';
@import 'button.scss';
@import 'footer.scss';

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background1: #f3f3f3;
$color-background2: #fafafa;
$color-background3: #f6f6f6;
$padding: 32px 25px;

/* Header */
header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(223, 223, 223);
    padding: 16px;

    img {
        width: 200px;
    }
}

.lieu {
    display: flex;
    justify-content: center;
    background-color: $color-background1;
    padding: 20px 16px;
    font-size: 19px;
    font-style: normal !important;
    font-weight: 700;

    address{
        font-style: normal;
        font-weight: 400;
    }

    .fa-map-marker-alt{
        margin-right: 20px;
    }
}

a{
    text-decoration: none;
    color: black;
}

.reservation{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 32px 32px 45px 32px;
    background-color: $color-background2;

    .subtitle-reservation{
        margin-top: 11px;
        margin-bottom: 24px;
        font-weight: 300;
    }

    a.btn-recherche{
        color: white !important;

        .btn{
            font-size: 18px;
            padding: 12px 24px;
        }
    }
}

.fonctionnement{
    padding: $padding;

    .container{
    width: 100%;
    display: flex;
    text-align: left;
    }

    .title-fonction{
        margin-top: 0;
    }

    .step-number{
        background: $color-primary;
        color: white;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -1px;
        margin-top: 17px;
    }

    ol.etapes{
        display: flex;
        flex-direction: column;
        counter-reset: filter;
        position: relative;
    }

    .filter-button{
        display:flex;
        background-color: $color-background3;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
        border-radius: 20px;
        height: 60px;
        margin: 16px 0 16px 12px;
    }


    .filter-text{
        margin-top: 20px;
        font-family: $font-family-text;
    }

    i.fa-mobile-alt{
        margin-right: 16px;
        margin-top: 21px;
        margin-left: 25px;
        color: #7e7e7e;
    }

    i.fa-list-ul{
        margin-right: 16px;
        margin-top: 21px;
        margin-left: 25px;
        color: #7e7e7e;  
    }

    i.fa-store{
        margin-right: 16px;
        margin-top: 21px;
        margin-left: 25px;
        color: #7e7e7e; 
    }
}

.restaurants{
    background-color: $color-background3;
    padding: $padding;

    .menu-carte{
        display: flex;
        flex-direction: column;
        padding: 15px 0;
    }

    .background-carte{
        background-color: #FFF;
        border-radius: 15px;
        position: relative;
    }

    .img-menu{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    .nouveau{
        background-color: $color-tertiary;
        color: #0C7B71;
        border-radius: 2px;
        position: absolute;
        padding: 8px;
        top: 16px;
        right: 12px;
    }

    .description-menu{
        display: flex;
        align-items: center;
        padding: 16px;
    }
}



.fa-heart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: x-large;
    position: absolute;
    color: gray;
    right: 30px;
}


.fancy-checkbox input[type="checkbox"],
.custom-checkbox .checked {
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked~.checked {
    display: inline-block;
    background: rgb(147,86,220);
    background: linear-gradient(180deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
  }
  .custom-checkbox input[type="checkbox"]:checked~.unchecked {
    display: none;
  }