@import 'title-menu.scss';
@import 'button.scss';
@import 'footer.scss';

$color-background3: #f6f6f6;
$color-tertiary: #99E2D0;
$color-heart: #3C4948;

/* Header */
header {
    box-shadow: 0px 0px 10px rgb(223, 223, 223);
    padding: 16px 16px 5px 16px;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    i.fa-arrow-left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 32px;
        height: 32px;
        position: absolute;
    }

}

/* Carte restaurant */
.img-carte{
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
}

a{
    text-decoration: none;
    color: black;
}

.carte{
    display: flex;
    background-color:$color-background3;
    border-radius: 32px 32px 0 0;
    padding: 16px 0 32px 0;
    position: absolute;
    width: 100%;
    top: 264px;

    .title-restaurant{
        padding: 16px 32px 0 16px;
    }

    .fa-heart{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: x-large;
        padding-bottom: 5px;
        padding-left: 20px;
        color: $color-heart;
    }
}

/* Menu */
.background-carte{
    background-color: $color-background3;

    .sous-menu{
        max-width: 100%;
        padding: 0 16px;
        overflow: hidden;
    }

    .trait{
        width: 48px;
        height: 4px;
        background-color: $color-tertiary;
        border: none;
    }
    
    .padding-top{
        padding-top: 25px;
    }
}

.menu-item{
    display: flex;
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 10%);
    max-width: 100%;
    height: 70px;
    margin: 16px 0;

    .prix-menu{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: 700;
        padding-left: 8px;
        padding-bottom: 12px;
        /*width: 100%;*/
    }
}

.menu-item{
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* Icon validé */
.fa-circle-check{
    background-color: #fff;
    color: $color-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
}

.fa-circle-check:hover{
    visibility: visible;
    transform: rotate(180deg);
    transition-duration: .5s;
}


/* Btn commander */
.background-btn{
    background-color: $color-background3;
    padding: 48px 0;
    display: flex;
    justify-content: center;

    .btn-commander{
        width: 140px;
    }
}