@charset "UTF-8";
/* Général */
* {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 28px;
  font-family: "Shrikhand"; }

h2 {
  font-size: 26px;
  font-family: "Shrikhand";
  padding-top: 20px;
  padding-bottom: 30px; }

h3 {
  font-size: 19px;
  padding-bottom: 4px;
  font-weight: 300;
  font-family: "Roboto"; }

h4 {
  font-size: 19px;
  font-family: "Roboto";
  padding: 13px 0 0 10px; }

p {
  font-size: 16px;
  font-family: "Roboto";
  padding-left: 10px; }

button {
  background: #9356dc;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border: none;
  border-radius: 30px;
  box-shadow: 4px 4px 10px #dfdfdf;
  height: 50px;
  color: #FFF;
  font-size: 18px; }

button:hover {
  background: #9f70d7;
  background: linear-gradient(360deg, #9f70d7 0%, #ff9ce4 100%);
  box-shadow: 4px 4px 10px #dfdfdf; }

/* Footer */
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 32px 25px; }
  footer .logo-footer {
    width: 110px;
    margin: 0 0 16px; }

ul {
  list-style-type: none; }

li > a {
  color: #FFF;
  font-family: "Roboto"; }
  li > a .fa-utensils {
    margin-right: 8px; }
  li > a .fa-handshake-angle {
    margin-right: 2px; }

.item1 {
  margin-bottom: 8px; }

.item2 {
  margin: 8px 0; }

.item3 {
  margin-top: 8px; }

/* Header */
header {
  box-shadow: 0px 0px 10px #dfdfdf;
  padding: 16px 16px 5px 16px; }
  header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  header i.fa-arrow-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 32px;
    height: 32px;
    position: absolute; }

/* Carte restaurant */
.img-carte {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative; }

a {
  text-decoration: none;
  color: black; }

.carte {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 32px 32px 0 0;
  padding: 16px 0 32px 0;
  position: absolute;
  width: 100%;
  top: 264px; }
  .carte .title-restaurant {
    padding: 16px 32px 0 16px; }
  .carte .fa-heart {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: x-large;
    padding-bottom: 5px;
    padding-left: 20px;
    color: #3C4948; }

/* Menu */
.background-carte {
  background-color: #f6f6f6; }
  .background-carte .sous-menu {
    max-width: 100%;
    padding: 0 16px;
    overflow: hidden; }
  .background-carte .trait {
    width: 48px;
    height: 4px;
    background-color: #99E2D0;
    border: none; }
  .background-carte .padding-top {
    padding-top: 25px; }

.menu-item {
  display: flex;
  background-color: #FFF;
  border-radius: 12px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: 70px;
  margin: 16px 0; }
  .menu-item .prix-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: 700;
    padding-left: 8px;
    padding-bottom: 12px;
    /*width: 100%;*/ }

.menu-item {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari et Chrome */
  -o-animation: fadein 2s;
  /* Opera */ }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Icon validé */
.fa-circle-check {
  background-color: #fff;
  color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg); }

.fa-circle-check:hover {
  visibility: visible;
  transform: rotate(180deg);
  transition-duration: .5s; }

/* Btn commander */
.background-btn {
  background-color: #f6f6f6;
  padding: 48px 0;
  display: flex;
  justify-content: center; }
  .background-btn .btn-commander {
    width: 140px; }

/*# sourceMappingURL=menus.css.map */
